{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Hotel Search</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tarekraafat/autocomplete.js@10.2.9/dist/css/autoComplete.min.css">
</head>
<body>
    <h1>Hotel Search</h1>
    <h5>Enter city name to get a list of hotels in that city (for example "Amsterdam")</h5>

    <!--  Form to let the user enter the city, where he wants to find hotels for  -->
    <div class="search-box">
        <form method="get" class="search-form">
            <input
                id="autoComplete"
                type="text"
                name="city"
                value="{{ query }}"
                autofocus
                autocomplete="off"
            >
            <!-- When this form is submitted it will reach the hotel_search view with the city as query param -->
            <button type="submit">Search</button>
        </form>
    </div>

    <div class="results">
        {% if query %}
            <!-- Show the hotels that are in the chosen city -->
            {% if hotels_in_city %}
                <ul class="hotel-list">
                    {% for hotel in hotels_in_city %}
                        <div class="hotel-name">{{ hotel.name }}</div>
                    {% endfor %}
                </ul>
            {% else %}
                <!-- If no hotels were found, show a note about that -->
                <div class="no-results">
                    <p>No hotels found for "{{ query }}"</p>
                </div>
            {% endif %}
        {% endif %}
    </div>
    <script src="https://cdn.jsdelivr.net/npm/@tarekraafat/autocomplete.js@10.2.9/dist/autoComplete.min.js"></script>
    <script src="{% static 'api_data/js/hotel_search.js' %}"></script>
</body>
</html>
